
@model MyProject.Models.Donor
@{
    Layout = "~/Views/Home/layout.cshtml";
}

<form name="changepass" action="/Home/NewPassword" method="post">



    <fieldset>

        <div class="row">
            <div class="col-md-6 text-center">
                <div class="form-group">
                    <input type="password" name="newpass" class="form-control" placeholder="New Password  *" id="newpass" required />
                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center">
                <div class="form-group">
                    <input type="password" name="pass" class="form-control" placeholder="Confirm Password  *" id="pass" required onchange="return f3()" />
                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </div>

        <div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
                <br />
                <br />
                <button type="submit" class="btn btn-xl" style="width:35%">RESET PASSWORD</button>
            </div>
        </div>
    </fieldset>
</form>


<script>

    function f3()
    {
        var str1= document.getElementById['newpass'];
        var str2= document.getElementById['pass'];
        if(str1 != str2)
        {
            alert("New Password And Confirm Password Fields do not Match");
        }
        else
        {
            return true;
        }
    }
</script>
